body{
    text-align: center;
    padding: 10%;
}
.container{
    padding: 20%;
    width: 20%;
}
\

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
