
body{
    text-align: center;
    margin: 10% 15%;
    
}.card {
    display: inline-block;
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 5px solid #ffffff;
    margin: 1%;
    
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-title {
    margin-top: 0;
  }
  
  .card-description {
    color: #888888;
  }
  .container {

   width: auto;
    background-color: aquamarine;
  }